.section_1{
    width: 100%;
    height: 800px;
    background-image: url(../../img/bg_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.text_wrap h1{
    font-size: 100px;
    font-weight: 600;
    line-height: 120px;
    color: #0032A0;
}

.text_wrap h3{
    font-size: 30px;
    font-weight: 500;
    color: #1d1d1d;
    margin-top: 50px;
}

.section_1 .ctgr_wrap{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section_1 .inner_ctgr_wrap{
    margin-top: 25px;
    display: flex;
}

.inner_ctgr_wrap a{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctgr .img_wrap{
    width: 80%;
}

.ctgr .title_wrap{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 500;
    color: #0032A0;
}

.ctgr .arrow{
    margin-left: 10px;
}