.section_4{
    width: 100%;
    height: 887px;
    padding: 0 250px;
}

.cate_logo{
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    color: #1946a9;
    margin: 250px 0 70px 0 ;
}

.cate{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 452px;
    height: 730px;
    position: relative;
    /* background: linear-gradient(180deg, rgba(131,151,198,0.05) 0%, rgba(0,50,160,0.05) 100%); */
}

.item_1{
    background: linear-gradient(180deg, rgba(131,151,198,0.05) 0%, rgba(0,50,160,0.05) 100%);
}
.img_box{
    height: 730px;
    background-image: url(../../img/lip.png);
    background-repeat: no-repeat;
    background-position: -40px 40px;
}

.item_2-1{
    background: linear-gradient(180deg, rgba(131,151,198,0.05) 0%, rgba(0,50,160,0.05) 100%); 
}

.img_box_2{
    height: 350px;
    background-image: url(../../img/sun.png);
    background-repeat: no-repeat;
} 

.item_2-2{
    background: linear-gradient(180deg, rgba(131,151,198,0.05) 0%, rgba(0,50,160,0.05) 100%);
}

.img_box_3{
    height: 350px;
    background-image: url(../../img/body.png);
    background-repeat: no-repeat;
    background-size: 90%;
}

.item_3{
    background: linear-gradient(180deg, rgba(131,151,198,0.05) 0%, rgba(0,50,160,0.05) 100%);
}

.img_box_4{
    height: 730px;
    background-image: url(../../img/deo.png);
    background-repeat: no-repeat;
    background-position: -50px 10px;
}

.item_title_1{
    position: absolute;
    text-align: left;
}
.item_title_2{
    position: absolute;
    text-align: left;
}
.item_title_3{
    position: absolute;
    text-align: right;
}
.item_title_4{
    position: absolute;
    text-align: right;
}


.item_title_1 h3{
    font-size: 80px;
    font-weight: 700;
    color: rgba(25, 70, 169, 1);
}

.item_title_1 p{
    font-size: 18px;
    /* width: 160px; */
    color: rgba(0, 50, 160, 1);
    font-weight: 400;  
}

.item_title_2 h3{
    font-size: 80px;
    font-weight: 700;
    color: rgba(25, 70, 169, 1);
}

.item_title_2 p{
    font-size: 18px;
    /* width: 160px; */
    color: rgba(0, 50, 160, 1);
    font-weight: 400;
}

.item_title_3 h3{
    font-size: 80px;
    font-weight: 700;
    color: rgba(25, 70, 169, 1);
}

.item_title_3 p{
    font-size: 18px;
    /* width: 160px; */
    color: rgba(0, 50, 160, 1);
    font-weight: 400;
}

.item_title_4 h3{
    font-size: 80px;
    font-weight: 700;
    color: rgba(25, 70, 169, 1);
}

.item_title_4 p{
    font-size: 18px;
    /* width: 160px; */
    color: rgba(0, 50, 160, 1);
    font-weight: 400;
}




.item_title_1{
    bottom: 70px;
    left:55px;
}

.con{
    height: 350px;
}

.con:nth-child(1){
    margin-bottom: 30px;
}

.item_title_2{
    top: 13px;
    left: 27px;
}

.item_title_3{
    bottom: 27px;
    right: 25px;
}

.item_title_4{
    right: 50px;
    top: 9px;
}